/* Base reset */
*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	/* All rems are now 10px */
	font-size: 62.5%;
}

/* General Styles */

body {
	background-color: hsl(185, 75%, 39%);
	background-image: url(/images/bg-pattern-top.svg),
		url(/images/bg-pattern-bottom.svg);
	background-position: bottom 35vh right 40vw, top 45vh left 40vw;
	background-repeat: no-repeat, no-repeat;
	font-family: 'Kumbh Sans', sans-serif;
	font-size: 1.8rem;
	line-height: 1.6;
}

.wrapper {
	/* Actual magic for proper centering in both directions */
	display: grid;
	min-height: 100vh;
	min-width: 100vw;
	place-items: center;
}

/* Typography */

.bold-txt {
	font-size: 2rem;
	font-weight: 700;
}

.sm-txt {
	color: hsl(0, 0%, 59%);
	font-size: 1.4rem;
	letter-spacing: 0.1rem;
}

.md-txt {
	color: hsl(0, 0%, 36%);
	font-weight: 300;
}

/* Card Component */

.card {
	background-color: white;
	border-radius: 1rem;
	box-shadow: 3px 5px 9px -5px black;
	display: flex;
	flex-direction: column;
	width: 33rem;
}

.card__bg {
	border-radius: 1rem 1rem 0 0;
}

/* Profile section */

.profile {
	margin: 2rem;
	text-align: center;
	line-height: 1.8;
}

.image-container {
	height: 6rem;
	position: relative;
}

/* circle for patching border gap. fixes border gap */
.image-container::before {
	background-color: white;
	border-radius: 50%;
	bottom: 2.4rem;
	content: '';
	height: 9.5rem;
	left: 9.2rem;
	position: absolute;
	width: 10.6rem;
}

.profile__image {
	border: 0.5rem solid white;
	border-radius: 50%;
	bottom: 6rem;
	height: 10.5rem;
	position: relative;
	width: 10.5rem;
}

/* stats section */

.stats {
	border-top: 1px solid hsl(0, 1%, 74%);
	display: flex;
	justify-content: space-evenly;
	line-height: 1.4;
	padding: 2.5rem 0;
	text-align: center;
}

/* challenge attribution */

.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
